* {
    margin: 0%;
    padding: 0%;
}

.drip_small_text{
    font-size: 40px;
        font-weight: bolder;
}
.busi{
    font-size: x-large;
        font-size: 25px;
}
.ques{
    font-size: large;
}
.bbb{
    font-size: xx-large;
}
/* tablet */

@media screen and (max-width:750px) {
    .headhold {
        width: 100%;
        height: 10vh;
        font-size: x-small;
        display: flex;
    }

    .busi {
        font-size: 3vh;
    
    }
    .ques{
        font-size: 2vh;
    }

    .Further {
        font-size: xx-small;



    }

    .drip_small_text {
        font-size: 4vh;

    }

    .sp {
        font-size: x-small;
    }

    .further h1 {
        border: 1px solid red;
        font-size: 4px;
    }

    form {
        width: 30vw;
        height: 60vh;

    }

    .inp {
        text-align: center;
        font-size: xx-small;
    }

    .former {
        font-size: xx-small;
        font-size: 5px;
    }

    .former p {
        width: 200%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: xx-small;
        font-size: 15px;
        text-align: center;
        margin-bottom: 12px;
        border: 1px solid black;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    }

    .butt {

        font-size: xx-small;

    }

    .imagelist {
        font-size: xx-small;
    }

    .imagelist b {
        font-size: 5vh;
    }

    .imagelist p {
        width: fit-content;
        font-size: xx-small;
        text-align: center;
        border: 1px solid white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
        margin-top: 12px;
    
    }

    .former p {
        font-size: xx-small;
    }
.bbb{
    font: size 4vh;
}

    .former b {
        font-size: xx-small;
        color: aqua;
        font-size: 1px;
        width: fit-content;
        text-align: center;
        margin-bottom: 12px;
    }

    .decision {
        font-size: small;
        color: blue;
    }
}

/* mobile */

@media screen and (max-width:450px) {
    .headhold {
        flex-direction: column;
            width: 100%;
            height: 10vh;
            font-size: x-small;
            display: flex;
        }
    
        .busi {
            font-size: 2vh;
    
        }
    
        .ques {
            font-size: 1vh;
        }
    
        .Further {
            font-size: xx-small;
    
    
    
        }
    
        .drip_small_text {
            font-size: 2vh;
    
        }
    
        .sp {
            font-size: x-small;
        }
    
        .further h1 {
            border: 1px solid red;
            font-size: 4px;
        }
    
        form {
            width: 30vw;
            height: 60vh;
    
        }
    
        .inp {
            text-align: center;
            font-size: xx-small;
        }
    
        .former {
            font-size: xx-small;
            font-size: 5px;
        }
    
        .former p {
            width: 200%;
            height: 50vh;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: xx-small;
            font-size: 15px;
            text-align: center;
            margin-bottom: 12px;
            border: 1px solid black;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
        }
    
        .butt {
    
            font-size: xx-small;
    
        }
    
        .imagelist {
            font-size: xx-small;
        }
    
        .imagelist b {
            font-size: 3vh;
        }
    
        .imagelist p {
            width: fit-content;
            font-size: xx-small;
            text-align: center;
            border: 1px solid white;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
            margin-top: 12px;
        }
    
        .bbb {
            font-weight: 100;
            font-size: 5vh;
        }
    
        .former p {
            font-size: xx-small;
        }
    
    
        .former b {
            font-size: xx-small;
            color: aqua;
            font-size: 1px;
            width: fit-content;
            text-align: center;
            margin-bottom: 12px;
        }
    
        .decision {
            font-size: small;
            color: blue;
        }
}