* {
    margin: 0%;
    padding: 0%;
}

.Further {
    font-size: 6vh;

}

.decision {
    height: 15vh;
    display: flex;
    align-items: center;
    font-size: 30px;
}

form {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    border: 1px solid black;
    width: 35vw;
    height: 60vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.former {
    height: 60vh;
    width: 20vw;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.butt {
    border: 1px solid orangered;
    background-color: orangered;
    height: 6vh;
    width: 30vw;
    font-weight: bold;
    color: antiquewhite;
}

.Further p {
    font-size: 3vh;
}

.former b {
    font-size: 20px;
}

.drip_small_text {
    font-size: 60px;
    font-weight: bolder;
}

input {
    border: 1px solid black;
    height: 6vh;
    width: 30vw;
}

.busi {
    font-size: x-large;
    font-size: 25px;
}

.ques {
    font-size: large;
}

.bbb {
    font-size: xx-large;
}

.imagelist {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 50vw;
    height: 50vh;
    color: white;
    text-align: center;

}

.imagelist p {
    font-size: small;
}

i {
    font-size: 90px;
    color: antiquewhite;

}

.bi-tv {}

/* tablet */

@media screen and (max-width:750px) {
    .headhold {
        width: 100%;
        height: 10vh;
        font-size: x-small;
        display: flex;
    }

    .busi {
        font-size: 3vh;

    }

    .ques {
        font-size: 2vh;
    }

    .Further {
        font-size: xx-small;



    }

    i {
        font-size: 50px;
    }

    .drip_small_text {
        font-size: 3vh;

    }

    .Further p {
        font-size: x-small;
    }

    .sp {
        font-size: x-small;
    }

    .further h1 {
        border: 1px solid red;
        font-size: 4px;
    }

    form {
        width: 40vw;
        height: 60vh;

    }

    .inp {
        text-align: center;
        font-size: xx-small;
    }

    .former {
        width: 40%;
    }

    .former p {
        width: 170%;
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: xx-small;
        font-size: 15px;
        text-align: center;
        margin-bottom: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
    }

    .butt {
        width: 50vw;
        font-size: xx-small;

    }

    .imagelist {
        margin-right: 13%;
    }

    .imagelist b {
        font-size: 3vh;
    }

    .imagelist p {
        text-align: center;
        margin-top: 15px;
        font-size: 2.2vh;
        width: 23vw;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;


    }

    .former p {
        font-size: xx-small;
    }

    .bbb {
        font: size 4vh;
    }

    .former b {
        font-size: xx-small;
        color: aqua;
        font-size: 1px;
        width: fit-content;
        text-align: center;
        margin-bottom: 12px;
    }

    .decision {
        font-size: small;
        color: blue;
    }
}

/* mobile */

@media screen and (max-width:450px) {
    .headhold {
        flex-direction: column;
        width: 100%;
        height: 10vh;
        font-size: x-small;
        display: flex;

    }

    .busi {
        font-size: 2vh;

    }

    .ques {
        font-size: 1vh;
    }

    .Further {

        font-size: x-small;



    }

    .drip_small_text {
        font-size: 3.4vh;

    }

    .Further p {
        font-size: x-small;
    }

    .sp {
        font-size: 3.3vh;
    }

    .further h1 {
        border: 1px solid red;
        font-size: 4px;
    }

    form {
        width: 73%;
        height: 58vh;
        margin-bottom: 30px;

    }

    .inp {
        text-align: center;
        font-size: xx-small;
    }

    .former {
        width: 160%;
        margin-bottom: 20px;

    }


    .former p {
        width: 62%;
        height: 18vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: small;
        font-size: 15px;
        text-align: center;
        color: rgb(64, 63, 63);
        margin-bottom: 12px;
    }

    .butt {
        font-size: 1.5vh;
        font-weight: 100;
        height: 5vh;
        width: 54vw;
        text-align: center;
    }

    .imagelist {
        width: 85vw;
        height: 18vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        /* overflow-y: scroll; */
        font-size: xx-small;
        
    }

    .imagelist b {
        font-size: 2vh;
    }

    input {
        font-size: x-small;
        text-align: start;
        padding-left: 6px;
        height: 4vh;
        width: 50vw;
    }

    .imagelist p {
        width: fit-content;
        font-size: xx-small;
        text-align: center;
        font-size: xx-small;

        height: 4vh;
        width: 20vw;

    }

    .bbb {
        font-weight: 100;
        font-size: 5vh;
    }

    .former p {
        font-size: 2vh;
    }


    .former b {
        font-size: x-small;
        color: orangered;
        text-align: center;
        padding-top: 5px;
    }

    .decision {
        display: flex;
        align-items: start;
        margin-bottom: 40px;
        font-size: small;
        color: blue;
    }

    i {
        font-size: 30px;

    }
}